#container {
    width: 960px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.tile {
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    background-color: transparent;
    display: inline-block;
    border-width: 2px;
    border-radius: 2px;
    border-color: black;
    text-align: center;
    line-height: 0px;
}

.row {
    background-color: cornflowerblue;
    height: 32px;
}